.more-btn{
  display: block;
  color: #fff;
  background-color: $btn-bgc;
  width: 160px;
  // ↓ボタンのheightをline-height(px)指定にする事でheightへの指定が不要
  line-height: 36px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
  &:hover{
    opacity: .7;
  transition: .3s;
  }
}
